@charset "utf-8";

#bd {
	width: 100%;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
}

.yun_info {
	text-align: center;
	padding: 2rem 0;
	color: #333;
}

.yun_info h1 {
	font-size: 2rem;
	color: #333;
	line-height: 1.5;
}

.yun_info h1 i,.yun_info h4 i {
	color: #396ed8;
}

.yun_info p {
	width: 96%;
	margin: 0 auto;
	color: #666;
	line-height: 1.5;
	font-size: 1.4rem;
	margin-top: 1rem;
}

.yun_info h2 {
	margin: 1rem 0 2rem 0;
}

.yun_info h2 i {
	color: #396ed8;
	line-height: 1.5;
}

.yun_info h2 .font_20 {
	font-size: 1.6rem;
}

.yun_info h2 .font_22 {
	font-size: 1.8rem;
}

.yun_info h2 .font_24 {
	font-size: 2rem;
}

.yun_info h2 .font_26 {
	font-size: 2.2rem;
}

.yun_info h3,.yun_info h4 {
	width: 96%;
	margin: 0 auto;
	font-size: 2rem;
	font-weight: normal;
	line-height: 1.5;
}

.yun_info h4 {
	color: #000;
	margin-top: 15px;
}

.yun_model,.yun_youshi,.yun_promise {
	width: 96%;
	margin: 0 auto;
}

.yun_model li {
	width: 100%;
	margin-bottom: 30px;
}

.yun_model li dt,.yun_model li dd {
	float: left;
}

.yun_model li dt {
	width: 28%;
}

.yun_model li dt img {
	width: 100%;
}

.yun_model li dd {
	width: 67%;
	margin-left: 5%;
}

.yun_model li dd h1 {
	font-size: 1.6rem;
	color: #333;
	margin: 5px 0;
}

.yun_model li dd p {
	font-size: 1.4rem;
	color: #666;
	line-height: 1.5;
}

.yun_tuiguang h1 {
	font-size: 2rem;
	color: #666;
	text-align: center;
	margin-bottom: 20px;
}

.yun_tuiguang h1 i {
	color: #396ed9;
}

.yun_tuiguang p {
	text-align: center;
	color: #666;
	font-size: 1.6rem;
	line-height: 1.5;
	width: 96%;
	margin: 0 auto;
}

.yun_tuiguang  .tui_title li {
	float: left;
	width: 13.66666666%;
	margin: 0 1.5%;
	padding-bottom: 10px;
}

.yun_tuiguang  .tui_title .current {
	border-bottom: 4px solid #396ed9;
}

.yun_tuiguang .tuiguang .tui_title {
	margin: 30px 0 20px;
	padding: 0 2%;
}

.yun_tuiguang .tuiguang .tui_title li img {
	width: 100%;
}

.yun_tuiguang .tuiguang .tui_content {
	color: #fff;
	background: #396ed9;
	text-align: center;
	padding: 30px 0
}

.yun_tuiguang .tuiguang .tui_content .btitle {
	font-size: 2rem;
	color: #fff;
}

.yun_tuiguang .tuiguang .tui_content .stitle {
	width: 96%;
	font-size: 1.6rem;
	font-weight: normal;
	line-height: 1.5;
	margin: 20px auto 30px;
	color: #fff;
}

.yun_tuiguang .tuiguang .tui_content img {
	width: 90%;
	margin: 0 auto;
}

.yun_youshi h1 {
	font-size: 2rem;
	color: #333;
	margin-top: 3rem;
	text-align: center;
}

.yun_youshi h1 i {
	font-size: 48px;
	color: #396ed9;
	font-style: italic;
}

.yun_youshi h3 {
	margin: 10px 0;
	font-size: 1.6rem;
	color: #fff;
	height: 46px;
	font-weight: normal;
	line-height: 46px;
	text-align: center;
	background: #396ed9;
	border-radius: 23px;
/* padding: 0 5px; */
}

.yun_youshi ul li {
	width: 46%;
	margin: 10px 2%;
	border: 1px solid #999;
	box-sizing: border-box;
	float: left;
	height: 20rem;
	padding: 10px;
	overflow: hidden;
	line-height: 1.5;
}

.yun_youshi ul li dt img,.yun_youshi ul li dt h2 {
	float: left;
}

.yun_youshi ul li dt {
	height: 50px;
}

.yun_youshi ul li dt img {
	width: 28%;
	margin-right: 2%;
}

.yun_youshi ul li dt h2 {
	width: 70%;
	font-size: 14px;
}

.yun_youshi ul li dd {
	font-size: 12px;
	color: #666;
/* line-height: 1.5; */
}

.yun_case {
	padding: 3rem 2%;
/* height:520px; */
	background: url(../img/casebg.jpg) no-repeat center;
	background-size: cover;
}

.yun_case h1 {
	color: #fff;
	font-size: 2rem;
	text-align: center;
	margin: 0 0 40px;
}

.yun_case ul li {
	float: left;
	width: 30.3333333333333333333333%;
	margin: 1rem 1.5%;
}

.yun_case ul li img {
	width: 100%;
}

.yun_case a {
	display: block;
	width: 9rem;
	height: 3rem;
	margin: 20px auto 0;
	line-height: 3rem;
	border-radius: 28px;
	border: 1px solid #fff;
	box-sizing: border-box;
	text-align: center;
	font-size: 1.6rem;
	background: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
	background: none;
	color: #fff;
	position: relative;
	z-index: 2;
	behavior: url(ie-css3.htc);
}

.yun_youshi,.yun_promise {
	padding-bottom: 20px;
}

.yun_promise h2 {
	font-size: 2rem;
	text-align: center;
	margin: 36px 0;
}

.yun_promise ul li {
	float: left;
	width: 40%;
	height: 230px;
	margin: 20px 5%;
	text-align: center;
}

.yun_promise ul li h1 {
	font-size: 20px;
	margin: 10px 0;
}

.yun_promise ul li p {
	font-size: 1.4rem;
	line-height: 1.5;
}

.yun_team {
	background: #396ed9;
	color: #fff;
	padding: 40px 2%;
	text-align: center;
}

.yun_team h2 {
	font-size: 2rem;
	margin-bottom: 40px;
	color: #fff;
}

.yun_team h3 {
	font-size: 20px;
	margin-bottom: 20px;
	color: #fff;
}

.yun_team h3 i {
	font-style: italic;
	color: #ffff00;
}

.yun_team img {
	width: 90%;
	margin: 0 auto;
}

.yun_fuwu {
	color: #333;
}

.yun_fuwu h2 {
	font-size: 2rem;
	font-weight: normal;
	text-align: center;
	margin-top: 40px;
}

.yun_fuwu h2 i {
	font-size: 3rem;
	font-style: normal;
	font-weight: bold;
}

.yun_fuwu p {
	font-size: 1.6rem;
	line-height: 1.5;
	text-align: center;
	margin: 2rem 0;
}

.yun_fuwu img {
	width: 100%;
	display: block;
}

.yun_msg {
	margin: 35px auto;
}

.yun_msg h2 {
	color: #396ed9;
	font-size: 24px;
	text-align: center;
	margin-bottom: 35px;
}

.yun_msg ul {
	background: #eaebec;
	padding: 40px 5%;
}

.yun_msg ul li {
}

.yun_msg ul li span {
	display: inline-block;
	font-size: 18px;
	width: 32%;
	line-height: 44px;
}

input {
	-webkit-appearance: none;
}

input:focus {
	border: 1px solid orange;
	box-sizing: border-box;
}

.yun_msg ul li input {
	background: #fff;
	width: 66%;
	height: 44px;
	line-height: 44px;
	margin-bottom: 25px;
	font-size: 18px;
	text-indent: 10px;
}

.yun_msg .submit {
	margin: 10px 0;
	width: 100%;
	background: #396ed9;
	color: #fff;
	height: 56px;
	line-height: 56px;
	font-size: 24px;
	font-family: "microsoft yahei";
}

.yun_msg p {
	font-size: 18px;
	color: #666;
	text-align: center;
}

.yun_msg p i {
	color: red;
}

.white {
	color: #fff;
}